<html lang="en">
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    
    
  </head>
  <body ng-app="StarterApp" layout="row" ng-controller="AppCtrl" ng-init="init(<%= @articles %>)">    
    <style type="text/css">
      
      .card-media {
        background-color: #999999; 
      }

      .gallery {
        background: #EEE;
      }

      .gallery-cell {
        width: 20%; 
        margin-right: 20px;
        height: 100%;
        background: transparent;
        border-radius: 5px;
        counter-increment: gallery-cell;
      }

      /* cell number */
      .gallery-cell:before {
        display: block;
        text-align: center;        
      }

    </style>
    <div layout="column" class="relative" role="main" style="">
      <header>
        <md-toolbar class='' ng-show="!showSearch">
          <div class="md-toolbar-tools">
            <h3 class="md-toolbar-tools">
            <!-- heading Section -->Search
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
              <ng-md-icon icon="search"></ng-md-icon>
            </md-button>  
          </div>
        </md-toolbar>      
        <md-toolbar class="" ng-show="showSearch" style="height: 50px">
          <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
              <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>            
            <md-input-container md-theme="input" flex>
              <label>&nbsp;</label>
              <input ng-model="search.title" placeholder="" ng-change="callSearch(search.title)">
            </md-input-container>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
              <ng-md-icon icon="search"></ng-md-icon>
            </md-button>          
          </div>
        </md-toolbar>
      </header>
      
      <md-content style="height: 100%">
        <ui-view layout="column" layout-fill layout-padding>
          <div class="inset" hide-sm></div>
          <ng-switch on="data.selectedIndex" class="tabpanel-container">            
            <div>
              <!-- Define the gallery: -->
              <div bc-flickity="{{ flickityOptions }}" ng-if="isSearching">
                <div class="gallery-cell" ng-repeat="item in articles | limitTo: 10">
                  <md-card flex-gt-sm="20" flex-gt-md="20" style="margin: 0px">
                    <img ng-src="{{item.url_to_image}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-title">{{item.title}}</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                      <p style="font-size: 14px">
                        {{item.des | limitTo:150}}
                        <span ng-if="item.des.length > 150">...</span>
                      </p>
                      <p style="float: right" class="md-caption"> - {{item.author}}</p>
                    </md-card-content>
                  </md-card>
                </div>
              </div>

              <div bc-flickity="{{ flickityOptions }}" id="articles-slider" ng-if="!(isSearching)">
                <div class="gallery-cell" ng-repeat="item in results | limitTo: 10">
                  <md-card flex-gt-sm="20" flex-gt-md="20" style="margin: 0px">
                    <img ng-src="{{item.url_to_image}}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-title">{{item.title}}</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                      <p style="font-size: 14px">
                        {{item.des | limitTo:150}}
                        <span ng-if="item.des.length > 150">...</span>
                      </p>
                      <p style="float: right" class="md-caption"> - {{item.author}}</p>
                    </md-card-content>
                  </md-card>
                </div>
              </div>
            </div>
          </ng-switch>          
        </ui-view>
      </md-content>      
    <!-- Angular Material Dependencies -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script> 

    
  </body>
</html>